/*
 *  Brian Zelip's Custom Styles
 *
 */

// TODO: break styles up into components

@import 'components/base';
@import 'components/typography';
@import 'components/color';
@import 'components/whitespace';
@import 'components/borders';

// grid
.grid-container-plus {
  max-width: $grid-container-plus;
}
.grid-container-x-plus {
  max-width: $grid-container-x-plus;
}

// display
.block {
  display: block;
}

// utility
.pull-left-10px {
  margin-left: -10px;
}

/*
 * partial-specific styles
 */

// hero
.hero {
  background-image: url('../img/HeadlineImage_1.jpg');
  background-size: cover;
  background-position: center;
}
.hero-title-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.7) 20%,
    rgba(255, 255, 255, 0.7) 80%,
    rgba(255, 255, 255, 0.1)
  );
}

// info-panel-1
li.check::before {
  content: '✓';
  font-size: 1.8rem;
  margin-right: 1rem;
  margin-left: -1.2rem;
}

li.check {
  list-style-type: none;
  padding-bottom: 1.5rem;
  font-style: italic;
}

// gears
.gears {
  background-color: $red-gears;
  background-image: url('../img/Gears_15.jpg');
  // background-attachment: fixed;
  background-position: right -55rem top 82%;
  background-repeat: no-repeat;
  background-size: cover;
}

// info-panel-4

.cart-button {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  background-color: $orange-button;
  border: 3px solid white;
}
.cart-button:hover {
  background-color: darken($orange-button, 5%);
}
