// colors
.brown-bar,
.brown {
  color: $brown-bar;
}
.yellow-gears {
  color: $yellow-gears;
}
.red-text {
  color: rgb(201, 34, 42);
}
.red-gears {
  color: $red-gears;
}
.dark-green {
  color: $dark-green;
}
.yellow-free {
  color: $yellow-free;
}
.orange-button {
  color: $orange-button;
}
.green-button {
  color: $green-button;
}
.bg-brown-bar {
  background-color: $brown-bar;
}
.bg-yellow-gears {
  background-color: $yellow-gears;
}
.bg-red-gears {
  background-color: $red-gears;
}
.bg-dark-green {
  background-color: $dark-green;
}
.bg-yellow-free {
  background-color: $yellow-free;
}
.bg-orange-button {
  background-color: $orange-button;
}
.bg-green-button {
  background-color: $green-button;
}
.white {
  color: $white;
}
.brown-banner-gradient {
  background-image: $brown-banner-gradient-background-image;
}
