// typography
.rift {
  font-family: $rift-font-family;
  font-style: normal;
  font-weight: 700;
}

.brandon {
  font-family: $brandon-font-family;
  font-style: normal;
  font-weight: 400;
}

.open-sans {
  font-family: $open-sans-font-family;
  font-style: normal;
  font-weight: 400;
}
.open-sans-condensed {
  font-family: $open-sans-condensed-font-family;
  font-style: normal;
  font-weight: 300;
}

.font-style-normal {
  font-style: $font-style-normal;
}
.italic {
  font-style: $font-style-italic;
}
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fs0 {
  font-size: 7.2rem;
}
.fs1 {
  font-size: 4.5rem;
}
.fs2 {
  font-size: 4rem;
}
.fs3 {
  font-size: 3.75rem;
}
.fs4 {
  font-size: 3.5rem;
}
.fs5 {
  font-size: 3.25rem;
}
.fs6 {
  font-size: 3rem;
}
.fs7 {
  font-size: 2.75rem;
}
.fs8 {
  font-size: 2.5rem;
}
.fs9 {
  font-size: 2.25rem;
}
.fs10 {
  font-size: 2rem;
}
.fs11 {
  font-size: 1.75rem;
}
.fs12 {
  font-size: 1.5rem;
}
.fs13 {
  font-size: 1.25rem;
}
.fs14 {
  font-size: 1rem;
}
.lh1 {
  line-height: 1;
}
.lh1p1 {
  line-height: 1.1;
}
.lh1p15 {
  line-height: 1.15;
}
.lh1p2 {
  line-height: 1.2;
}
.lh1p3 {
  line-height: 1.3;
}
