<section class="py3halfr">
  <div class="my3" style="width: 82%; position: relative;">
    <img src="{{root}}assets/img/DoctorAndLady_6.png" style="position: absolute; top: -3.25rem; left: 50px;" alt="">
    <div class="bg-brown-bar grid-x">
      <div class="py1p75r px4 grid-x align-right">
        <div class="white" style="width: 50%;">
          <p class="fs13 lh1p7">You might even get a thumbs up from your doctor, after confirming your HbA1c is the best it’s been in years…</p>
          <p class="fs13 lh1p7 mb0">And also hear from your doctor that whatever you’ve been doing to lose those extra pounds:
            <span class="italic">“Keep it up, because it’s working like crazy!”</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container py5r">
    <p>So what does this have to do with eating chocolate?</p>
    <p>Simple… it turns out you can activate this enzyme by eating chocolate! Seriously!</p>
    <p>If you’re skeptical, I completely understand.
      <span class="fw800">And why wouldn’t you be?</span>
    </p>
    <p>After all, if you’re concerned about your blood sugar… everyone out there is telling you something different…</p>
  </div>
</section>