<section>
  <div class="grid-container py3">
    <p class="mb0 fw600">Could the secret for
      <span class="italic">perfect</span> blood sugar have been discovered in...</p>
  </div>

  <div class="py3r brown-banner-gradient">
    <div class="grid-container grid-container-plus">
      <div class="grid-x grid-margin-x text-center brown">
        <div class="cell small-12 medium-4 sm-pb2">
          <img src="{{root}}assets/img/DeliciousImg_2.png" alt="">
          <p class="mb0 mt2 fs11 fw700 lh1">Delicious...</p>
        </div>
        <div class="cell small-12 medium-4 sm-pb2">
          <img src="{{root}}assets/img/GooeyImg_3.png" alt="">
          <p class="mb0 mt2 fs11 fw700 lh1">Gooey...</p>
        </div>
        <div class="cell small-12 medium-4 sm-pb2">
          <img src="{{root}}assets/img/ChocolateImg_4.png" alt="">
          <p class="mb0 mt2 fs11 fw700 lh1">Chocolate...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container py3">
    <p>According to a recent animal study published in the European Journal of Lipid Science and Technology, the answer is yes!</p>
    <p>Here’s how:</p>
    <p>Scientists have discovered keeping your blood sugar healthy boils down to a simple enzyme in your body.</p>
    <p style="margin-bottom: 2.5rem;">If this enzyme is shut down, that leads to…</p>
    <ul class="mt2">
      <li class="check">Concerning
        <span class="fw700">insulin levels…</span>
      </li>
      <li class="check">Struggling to keep your
        <span class="fw700">HbA1c</span> in the normal range…</li>
      <li class="check">Or frustration with your
        <span class="fw700">belly fat</span> and
        <span class="fw700">fatigue…</span>
      </li>
    </ul>
    <p>On the other hand, if this enzyme is active in your body…</p>
  </div>
</section>