<section class="bg-red-gears">
  <div class="grid-container py3">
    <h1 class="fs9 fw700 mb3 yellow">You CAN now switch it back on.</h1>
    <p class="white">Even if you’re tired, out of shape, and have poor eating habits.</p>
    <p class="white">Your age doesn’t matter, either.</p>
    <p class="white">And when you do flip your AMPK on, you won’t believe the results…</p>
    <p class="white">You can keep your blood sugar healthy and stay sensitive to your natural insulin… so you can feel steady energy, look
      thin and trim…</p>
    <p class="white">…and stop stressing… because you know your numbers are in the normal range.</p>
    <p class="white">And the most incredible part is, it’s simpler than you think.</p>
    <p class="mb1 white">You can do this right in the comfort of your own home…</p>
  </div>
</section>