<section class="vh43 clearfix grid-x align-middle" data-parallax="scroll" data-image-src="{{root}}/assets/img/ParallaxOne_5.jpg">
  <div class="cell">
    <div class="grid-container grid-container-x-plus">
      <div>
        <div class="fs6 fw800 white lh1p25 measure-narrow t-shadow-1">You can have PERFECT blood sugar, every time you check…</div>
        <div class="mt3 fs11 fw700 white t-shadow-1 italic">You’ll marvel at your steady, low, natural insulin levels…</div>
      </div>
    </div>
  </div>
</section>