<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>i-HTML Build by Brian Zelip</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <script src="https://use.typekit.net/ebw0spg.js"></script>
  <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
  <meta name="author" content="Brian Zelip, @bzelip">
</head>

<body>

  {{> body}}

  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>